# Inspired by [this](https://www.visualcapitalist.com/mapped-the-salary-you-need-to-buy-a-home-in-50-u-s-cities/) Visual Capitalist Viz...
Data acquired from [HSH](https://www.hsh.com/finance/mortgage/salary-home-buying-25-cities.html#all_metro_areas) U.S. Metro Area Housing Data

In [1]:
import pandas as pd

In [5]:
csv = 'housingPriceData.csv'

df = pd.read_csv(csv)
df

,Metro Area,Median Home Price,Monthly Payment (PITI),% Change from 4Q21,Salary Needed
0,Atlanta,"$350,300.00","$1,624.43",0.0318,"$69,618.60"
1,Austin,"$540,700.00","$2,675.85",0.1139,"$114,679.39"
2,Baltimore,"$350,900.00","$1,722.08",-0.82%,"$73,803.48"
3,Birmingham,"$289,500.00","$1,298.78",0.0482,"$55,661.98"
4,Boston,"$639,000.00","$3,038.08",0.0052,"$130,203.37"
5,Buffalo,"$202,300.00","$1,202.25",-6.65%,"$51,524.96"
6,Charlotte,"$379,900.00","$1,688.13",0.0259,"$72,348.43"
7,Chicago,"$325,400.00","$1,784.14",0.0229,"$76,463.24"
8,Cincinnati,"$244,300.00","$1,209.60",-0.08%,"$51,840.19"
9,Cleveland,"$192,700.00","$1,060.46",-1.53%,"$45,448.11"
10,Columbus,"$274,300.00","$1,384.16",0.0055,"$59,320.96"
11,Dallas,"$365,400.00","$1,893.85",0.044,"$81,164.99"
12,Denver,"$662,200.00","$2,844.04",0.0722,"$121,887.60"
13,Detroit,"$224,300.00","$1,173.71",-6.85%,"$50,301.81"
14,Hartford,"$291,000.00","$1,707.18",-1.36%,"$73,164.95"
15,Houston,"$330,800.00","$1,742.37",0.0439,"$74,673.21"
16,Indianapolis,"$271,600.00","$1,250.33",0.0093,"$53,585.62"
17,Jacksonville,"$365,900.00","$1,714.18",0.0545,"$73,464.79"
18,Kansas City,"$287,400.00","$1,411.83",0.0286,"$60,507.11"
19,Las Vegas,"$461,100.00","$1,962.72",0.0763,"$84,116.45"
20,Los Angeles,"$792,500.00","$3,479.64",-0.68%,"$149,127.27"
21,Louisville,"$235,400.00","$1,122.82",-2.77%,"$48,120.91"
22,Memphis,"$259,300.00","$1,229.46",-0.54%,"$52,691.29"
23,Miami,"$530,000.00","$2,420.69",0.06,"$103,743.70"
24,Milwaukee,"$298,800.00","$1,538.18",-3.55%,"$65,921.81"
25,Minneapolis,"$355,800.00","$1,730.06",0.0108,"$74,145.28"
26,Nashville,"$387,200.00","$1,715.04",0.0406,"$73,501.92"
27,New Orleans,"$281,100.00","$1,349.91",0.0572,"$57,853.22"
28,New York City,"$578,100.00","$3,020.70",0.0199,"$129,458.62"
29,Oklahoma City,"$198,200.00","$1,056.99",-1.64%,"$45,299.47"
30,Orlando,"$399,900.00","$1,856.69",0.0524,"$79,572.52"
31,Philadelphia,"$297,900.00","$1,623.29",-2.84%,"$69,569.45"
32,Phoenix,"$474,500.00","$2,013.54",0.0644,"$86,294.62"
33,Pittsburgh,"$185,700.00","$1,000.02",-2.26%,"$42,858.07"
34,Portland,"$570,500.00","$2,549.56",0.0435,"$109,266.67"
35,Providence,"$406,700.00","$2,064.47",0.0155,"$88,477.40"
36,Raleigh,"$439,100.00","$1,949.76",0.048,"$83,561.02"
37,Richmond,"$354,500.00","$1,601.34",0.0216,"$68,628.66"
38,Riverside/San Bernardino,"$560,000.00","$2,477.82",0.0566,"$106,192.33"
39,Sacramento,"$545,000.00","$2,471.80",0.0583,"$105,934.09"
40,Salt Lake City,"$556,900.00","$2,355.97",0.1012,"$100,970.01"
41,San Antonio,"$321,100.00","$1,654.37",0.0275,"$70,901.40"
42,San Diego,"$905,000.00","$3,892.66",0.071,"$166,828.39"
43,San Francisco,"$1,380,000.00","$5,825.98",0.0534,"$249,685.02"
44,San Jose,"$1,875,000.00","$7,717.69",0.1194,"$330,758.29"
45,Seattle,"$746,200.00","$3,284.59",0.066,"$140,768.06"
46,St Louis,"$216,700.00","$1,143.06",-1.81%,"$48,988.44"
47,Tampa,"$379,900.00","$1,759.71",0.0701,"$75,416.29"
48,Virginia Beach,"$289,900.00","$1,382.39",0.0172,"$59,245.39"
49,"Washington, D.C.","$553,000.00","$2,574.30",0.029,"$110,327.29"